<div *ngIf="!modify" class="card">
    <div class="info-rows">
        <span class="position-title">Position</span>
    </div>
    <mat-error>{{(err$ | async)}}</mat-error>
    <div class="info-rows">
        <span class="position-name">{{(position$ | async).name}}</span>
    </div>
</div>
<app-position-form *ngIf="modify" [modify]="modify" [posCard$]="position$" (modifySaved)="onModify()"></app-position-form>
<div class="buttons-container">
    <button *ngIf="!modify" (click)="onModify()">Modify</button>
    <button *ngIf="!modify" (click)="onDelete()">Delete</button>
    <button *ngIf="!modify" (click)="onPrint()">Print</button>
</div>