:host {
    width: 100%;
}

.dsh-table-container {
    height: 100%;
    width: 100%;

    .dsh-table {
        width: 100%;
        text-align: center;
        border: 1px solid #CCC;
        border-collapse: collapse;
        border-radius: 10px;
        
        
        tr th {
            height: 50px;
            background-color: #0d3957;
            color: white;
        }

        tr {
            background-color: rgba(164, 235, 255, 0.377);
            color: black;
            padding: 5px;
        }

        table,
        th,
        td {
            border: none;
            border-collapse: collapse;
        }
    }
}