:host {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #ffffff7a;

    input,
    select {
        margin: 10px;
        padding: 5px;
    }

    #submit {
        cursor: pointer;
        background-color: rgba(13, 57, 87, 0.7490196078);
        border-radius: 5px;
        color: white;
        padding: 8px;
    }
}

mat-form-field.mat-form-field {
    font-size: 12px;
    margin: 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}