<div class="dashboard-container">
    <div class="dashboard">
        <div class="dsh-sidebar">
            <div class="dsh-avatar">
                <img src="/assets/profile.png" alt="Avatar" class="avatar">
                <a href="#" routerLink="/register" class="dsh-button-hire">Hire new employee</a>
            </div>
            <ul class="dsh-unorder-list">
                <li><a href="#" routerLink="/">Dashboard</a></li>
                <li><a href="#" routerLink="/employees">Employees</a></li>
                <li><a href="#" routerLink="/departments">Departments</a></li>
                <li><a href="#" routerLink="/positions">Positions</a></li>
            </ul>
        </div>
        <div class="dsh-table-container">
            <table class="dsh-table">
                <tr>
                  <th>Full Name</th>
                  <th>Department</th>
                  <th>Position</th>
                  <th>Shift</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Salary</th>
                  <th>Appointment Date</th>
                  <th>Leave Date</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
              </table>
        </div>
    </div>
</div>