.dashboard-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dashboard {
    height: 80%;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    .dsh-sidebar {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffffff7a;
        border-radius: 10px;

        .dsh-avatar {
            width: 45%;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .avatar {
                vertical-align: middle;
                width: 100%;
                border-radius: 50%;
            }

            .dsh-button-hire {
                margin: 10px;
                background-color: #0d3957;
                border: none;
                border-radius: 5%;
                color: white;
                cursor: pointer;
                padding: 5px;
                width: 100%;
            }
        }

        .dsh-unorder-list {

            padding: 0%;
            margin: 0%;
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
                list-style: none;
                background-color: #0d3957;
                border-radius: 5px;
                width: 90%;
                text-align: center;
                margin: 5px;
            }
        }

        a {
            text-decoration: none;
            color: white;
            display: block;
            padding: 5px;
        }

    }

    .dsh-table-container {
        height: 100%;
        width: 100%;

        .dsh-table {
            width: 100%;
            text-align: center;
            border: 1px solid #CCC;
            border-collapse: collapse;
            border-radius: 10px;
            
            
            tr th {
                height: 50px;
                background-color: #0d3957;
                color: white;
            }

            tr {
                background-color: rgba(164, 235, 255, 0.377);
                color: black;
                padding: 5px;
            }

            table,
            th,
            td {
                border: none;
                border-collapse: collapse;
            }
        }
    }
}