:host {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #ffffff7a;
}

.register-name-data {
    display: flex;
}

.register-work-data {
    display: flex;
    flex-wrap: wrap;
}

input {
    margin: 5px;
    padding: 5px;
}

.register-select {
    text-align: center;
    padding: 5px;

    select {
        width: 150px;
        padding: 5px;
    }
}

.buttons-container {
    display: flex;
}

.buttons {
    cursor: pointer;
    background-color: #0d3957bf;
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin: 5px;
}

.modify-buttons {
    cursor: pointer;
    background-color: #0d3957bf;
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin: 5px;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-form-field.mat-form-field {
    font-size: 12px;
    margin: 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.adress-phone {
    width: 30%;
    display: flex;
}