<div class="register-container">
    <form method="POST" class="register-form" [formGroup]="form">
        <h1>Hire new Employee</h1>
        <div class="register-name-data">
        </div>
        <div class="register-work-data">
            <div class="register-select">
                <label for="department">Department</label>
                    <option value="Cutting">Cutting</option>
                    <option value="WPA">WPA</option>
                </select>
            </div>
            <div class="register-select">
                <label for="position">Position</label>
                    <option value="Operator">Operator</option>
                    <option value="Quality Inspector">Quality Inspector</option>
                    <option value="Shit Leader">Shit Leader</option>
                </select>
            </div>
            <div class="register-select">
                <label for="shift">Shift</label>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="R">R</option>
                </select>
            </div>
        </div>
        <input id="register-button" type="submit" value="Register">
    </form>
</div>