<div [ngClass]="'register-container'">
    <form method="POST" [ngClass]="'register-form'" (submit)="onSubmit()" [formGroup]="form">
        <h1>Hire new Employee</h1>
        <div [ngClass]="'register-name-data'">
            <input name="firstName" type="text" placeholder="First Name" formControlName="firstName">
            <input name="middleName" type="text" placeholder="Middle Name" formControlName="middleName">
            <input name="lastName" type="text" placeholder="Last Name" formControlName="lastName">
        </div>
        <input name="address" type="text" placeholder="Address" formControlName="address">
        <input name="phone" type="text" placeholder="Phone" formControlName="phone">
        <div [ngClass]="'register-work-data'">
            <div [ngClass]="'register-select'">
                <label for="department">Department</label>
                <select name="department" id="department" (change)="onChangeDepartment($event)"
                    formControlName="departments">
                    <option value="" disabled selected hidden>Select department</option>
                    <option value="{{department.id}}" *ngFor="let department of departments">{{department.name}}
                    </option>
                </select>
            </div>
            <div [ngClass]="'register-select'">
                <label for="position">Positions</label>
                <select name="position" id="position" (change)="onChangePosition($event)" formControlName="positions">
                    <option value="" disabled selected hidden>Select position</option>
                    <option value="{{position.id}}" *ngFor="let position of positions">{{position.name}}</option>
                </select>
            </div>
            <div [ngClass]="'register-select'">
                <label for="shift">Shift</label>
                <select name="shift" id="shift" formControlName="shifts">
                    <option value="" disabled selected hidden>Select shift</option>
                    <option value="{{shift.id}}" *ngFor="let shift of shifts">{{shift}}</option>
                </select>
            </div>
        </div>
        <input id="register-button" type="submit" value="Register" [disabled]="form.invalid">
    </form>
</div>