<div class="register-container">
    <form method="POST" class="register-form" [formGroup]="form">
        <h1>Hire new Employee</h1>
        <div class="register-name-data">
        </div>
        <div class="register-work-data">
            <div class="register-select">
                <label for="department">Department</label>
                </select>
            </div>
            <div class="register-select">
                </select>
            </div>
            <div class="register-select">
                <label for="shift">Shift</label>
                </select>
            </div>
        </div>
        <input id="register-button" type="submit" value="Register">
    </form>
</div>