:host {
    height: 100%;
    width: 100%;
}

.register-container {
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.register-form {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.register-work-data {
    display: flex;
    flex-wrap: wrap;
}

input {
    margin: 5px;
    padding: 5px;
}

.register-select {
    text-align: center;
    padding: 5px;

    select {
        width: 150px;
        padding: 5px;
    }
}