:host {
    width: 100%;
}

.table-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table {
    height: 80%;
    width: 100%;
    background-color: #ffffffba;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example-container {
  width: 100%;
}

/* Structure */
.example-container {
    position: relative;
  }
  
  .example-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 200px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  