:host {
    width: 20%;
}

.dsh-sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff7a;
    border-radius: 10px 0px 0px 10px;

    .dsh-avatar {
        width: 50%;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .avatar-container{
            width: 80px;
            min-height: 80px;
        }

        .avatar {
            vertical-align: middle;
            width: 100%;
            border-radius: 50%;
        }
    }

    .dsh-unorder-list {

        padding: 0%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 150px;

        li {
            list-style: none;
            text-align: center;
        }

    }

    .btn {
        background-color: #0d3957;
        text-decoration: none;
        color: white;
        display: block;
        padding: 5px;
        margin: 5px 0px;
        border: none;
    }

    .btn:hover {
        background-color: red;
        cursor: pointer;
    }
}