<div [ngClass]="'dsh-sidebar'">
    <div [ngClass]="'dsh-avatar'">
        <div class="avatar-container">
            <img src="/assets/profile.png" alt="Avatar" class="avatar">
        </div>
        <a class="btn" routerLink="/admin-panel" routerLinkActive="active" ariaCurrentWhenActive="page">Admin Panel</a>
    </div>
    <ul [ngClass]="'dsh-unorder-list'">
        <li><a class="btn" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
        <li><a class="btn" routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a></li>
        <li><a class="btn" routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a></li>
    </ul>
    <button class="btn" (click)="onLogout()">Logout</button>
</div>