<div [ngClass]="'dsh-table-container'">
  <table [ngClass]="'dsh-table'">
    <tr>
      <th>Full Name</th>
      <th>Department</th>
      <th>Position</th>
      <th>Shift</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Appointment Date</th>
      <th>Leave Date</th>
      <!-- <th *ngFor="let title of titles">{{title}}</th> -->
    </tr>
    <tr (click)="onClick(employee, $event)"  *ngFor="let employee of employees" class="row">
      <td>{{employee.firstName + ' ' + employee.middleName + ' ' + employee.lastName}}</td>
      <td>{{employee.Department.name}}</td>
      <td>{{employee.Position.name}}</td>
      <td>{{employee.shift}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.createdAt | date}}</td>
      <td>{{employee.updatedAt | date}}</td>
    </tr>
  </table>
  <div (mouseleave)="mouseleave($event)" [hidden]="hide" class="del" [style.left.px]="left" [style.top.px]="top">
    <div class="button-container">
      <button>Update</button>
      <button>Delete</button>
    </div>
  </div>
</div>