<div class="form-create-position-container">
    <form method="POST" (submit)="onSubmit(form.value)" #form="ngForm" class="form-create-position">
        <h1>Create new Position</h1>
        <input type="text" name="name" id="name" placeholder="Name" ngModel required #name="ngModel">
        <p class="error" [hidden]="name.valid || name.pristine">This field is required</p>
        <input type="number" name="salaryMultiplayer" id="salaryMultiplayer" placeholder="Salary Multiplayer" ngModel
            required #salaryMultiplayer="ngModel">
        <p class="error" [hidden]="salaryMultiplayer.valid || salaryMultiplayer.pristine">This field is required</p>
        <select name="shift" id="shift" ngModel>
            <option value="" disabled selected hidden>Select shift</option>
            <option value="{{shift}}" *ngFor="let shift of shifts">{{shift}}</option>
        </select>
        <input type="submit" id="submit" [disabled]="name.invalid && salaryMultiplayer.invalid">
        <p class="error" *ngIf="errorMessage | async as error">{{error}}</p>
    </form>
</div>