<div *ngIf="!modify" class="card">
    <div class="info-rows">
        <span class="bold">LEONI</span>
        <span>Bulgaria</span>
        <span>{{(employee$ | async).createdAt | date}}</span>
    </div>
    <div class="info-rows">
        <span class="employee-name">{{employeeFullName}}</span>
    </div>
    <div class="info-rows">
        <span class="bold">Department:</span> {{(employee$ | async)?.Department?.name || "-------"}}
        <span class="bold">Position:</span> {{(employee$ | async)?.Position?.name || "-------"}}
    </div>
    <div class="info-rows">
        <span class="bold">LEONI №</span>{{(employee$ | async).id}}
    </div>
</div>
<app-employee-from *ngIf="modify" [modify]="modify" [empCard$]="employee$" (modifySaved)="onModify()"></app-employee-from>
<div  class="buttons-container">
    <button *ngIf="!modify" (click)="onModify()">Modify</button>
    <button *ngIf="!modify" (click)="onDelete()">Delete</button>
    <button *ngIf="!modify" (click)="onPrint()">Print</button>
</div>