<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Employees</button>
        <div class="dropdown-content">
            <a routerLink="/admin-panel/hire-employee">Hire new Employee</a>
            <a routerLink="/admin-panel/employees">Employees Table</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Departments
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/admin-panel/create-department">Create new Deparmtnet</a>
            <a routerLink="/admin-panel/departments">Deparmtnet Table</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Positions
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/admin-panel/create-position">Create new Position</a>
            <a routerLink="/admin-panel/positions">Position Table</a>
        </div>
    </div>
</div>