<form method="POST" (submit)="onSubmit()" [formGroup]="form" class="form">
    <h1>Create new Department</h1>
    <div class="name-positions">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Example">
            <mat-error *ngIf="form.get('name').errors && !form.get('name').hasError('required')">
                Please enter a valid name
            </mat-error>
            <mat-error *ngIf="form.get('name').hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Maximum Employees</mat-label>
            <input type="number" matInput formControlName="maxEmployees" placeholder="Type number">
            <mat-error *ngIf="form.get('maxEmployees').errors && !form.get('maxEmployees').hasError('required')">
                Please enter a valid number of employees. The minimum is 5. The and Maximum is 20.
            </mat-error>
            <mat-error *ngIf="form.get('maxEmployees').hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Salary Multiplayer</mat-label>
            <input type="number" matInput formControlName="salaryMultiplayer" placeholder="Type number">
            <mat-error
                *ngIf="form.get('salaryMultiplayer').errors && !form.get('salaryMultiplayer').hasError('required')">
                Please enter a valid multiplayer. The minimum is 1.0. The maximum is 2.0.
            </mat-error>
            <mat-error *ngIf="form.get('salaryMultiplayer').hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="division-container">
        <mat-form-field appearance="fill">
            <mat-label>Positions</mat-label>
            <mat-select formControlName="positions" multiple>
                <mat-option *ngFor="let position of positions" [value]="position.id">{{position?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <input *ngIf="!modify" id="modify-buttons" type="submit" value="Register" [disabled]="form.invalid">
    <input *ngIf="modify" id="modify-buttons" type="submit" value="Save">
    <mat-error *ngIf="errorMessage | async as error">{{error | titlecase}}</mat-error>
</form>